
body *{
    margin: 0;
    font-family: 'PT Sans'
}



.container-fluid .row *{
    background-color: #80AB9F;
    color:white;
    
    
    
}

.container-fluid .row img{

    width:100%;
    padding: 0;
    height: 150px;
}




.navbar a{
    color:white;
    float: right; 
}

